# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter / Colab
.ipynb_checkpoints/

# Dataset
data/
*.h5
evaluation_data/
*.nii

# Local PyTorch checkpoint
models/brats_unet_modell.pth

# Temporary prediction
prediction.png

# Environment
.env
.venv/
venv/

# OS
.DS_Store
Thumbs.db

# Local development / AI coding tools
.agents/
skills/

# Presentations / generated presentation assets
Presentations/